body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #0f0f0f;
  color: #ffffff;
}

a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: #ffffff;
}

header {
  background-color: rgba(0, 0, 0, 0.85);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Orbitron', sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links li a {
  font-weight: 500;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #111;
  font-size: 0.9rem;
  color: #aaa;
}

footer a {
  color: #7b00ff;
}