body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #0f0f0f;
  color: #ffffff;
}

a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: #ffffff;
}

header {
  background-color: rgba(0, 0, 0, 0.85);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Orbitron', sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links li a {
  font-weight: 500;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #111;
  font-size: 0.9rem;
  color: #aaa;
}

footer a {
  color: #7b00ff;
}

 .hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: white;
}

@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .hamburger {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
  }

  .nav-links.show {
    display: flex;
  }

  .nav-links li {
    width: 100%;
    padding: 0.5rem 0;
  }

  .nav-links li a {
    width: 100%;
    display: block;
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 6px;
  }

  .nav-links li a:hover {
    background-color: rgba(255, 255, 255, 0.15);
  }
}
